@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 25px;
}

header{
    height: 100vs;
    background-color: antiquewhite;
    background-size: cover;
}

nav{
    display: flex;
justify-content:space-between;
height: 50px;
align-items: center;
}

.navmenu{
    display: flex;
}
.navmenu li{
    list-style: none;
    margin: 5px;
}

.navmenu li a{
text-decoration: none;
color: black;
font-weight: 700;
padding: 5px 10px;
}
.blog-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.blog-1-left h1{
    font-size: 2em;

}
.blog-1-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.blog-1-right img{
    width: 100%;
    display: flex;
}

.blog-1-left p{
    color: black;
    margin: 20px 0;
    text-align: justify;
}

button{
    padding: 12px;
    border-radius: 30px;
    background-color: #E02B6C;
    color: wheat;
    font-weight: 700;
    outline: 0;
    border: 0;
    cursor: pointer;
    box-shadow: 0 7px 0 #E02B6C;
    position: relative;
    top: 0;
}

button:active{
    top: 5px;
}

